<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kwejk</title>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
    <p th:text = "${attr}"></p>
    <div class="gifs container">
        <div th:each="gif : ${fileNameList}">
            <img th:src="@{${gif}}"/>
        </div>
    </div>
</body>
</html>